.header {
    text-align: center;
    width: 100vw;
    height: 700px;
    background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url(../../assets/images/bg-img.jpeg);
    background-size: cover;
    background-position: center;
    border-bottom: 7px solid #232323;
    display: flex;
    flex-direction: column;
  }

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding-top:0px;
    padding-right: 35px;
    padding-left: 15px;
}

.logo {
    height: 130px;
    /* width: 40px; */
}

.buttons {
    display: inline-flex;
}

nav button {
    border: none;
    /* outline: 0; */
    background-color:#e50814;
    color:white;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 4px;
    margin-left: 25px;
    cursor: pointer;
    flex-shrink: 0;
    /* border-color: blue; */
}

.language-btn {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    /* padding: 7px 15px; */
    border: 1px solid gray;
    padding-left: 0px;
    padding-right: 10px;
    cursor: auto;
}

.language-btn img {
    width: 10px;
    border: none;
    margin-left: 10px;
}

.language-svg {
    width: 400px;
    margin-right: 20px;
}

.header-content {
    color: white;
    padding : 0px 20px;
    padding-top: 5%;
    text-align: center;
    
}

@media screen and (min-width: 951px) {
    .header-content h1 {
      font-size: 50px;
      margin-bottom: 15px;
    }
    .header-content h3 {
        font-size: 25px;
        margin-top: 0px;
        font-family:sans-serif;
    }
    .header-content p {
        font-size: 20px;
    }
    
  }
  
  @media screen and (max-width: 950px) {
    .header {
        height : 530px
    }
    .header-content h1 {
      font-size: 35px;
      margin-bottom: 15px;
    }
    .header-content h3 {
        font-size: 20px;
        margin-top: 0px;
        font-family:sans-serif;
    }
    .header-content p {
        font-size: 15px;
    }
    
  }

.signup {
    border-radius: 4px;
    /* display: inline-flex; */
    align-items: center;
    margin-top: 25px;
    justify-content: center;
    /* background-color: aliceblue; */
    display: flex;
    overflow: hidden;
    /* padding: 20px 15px; */

}

#inputID::placeholder {
    color: white;
    opacity: 0.7;
    font-size:15px;
}

.signup input {
    background-color: rgba(0,0,0,0.7);
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px 15px;
    width: 350px;
}

.signin-button {
    display:inline-flex;
    align-items: center;
    background-color: #e50814;
    border: none;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px 30px;
    margin-left: 10px;
    flex-shrink: 0;
    cursor: pointer;
}

/* .signin-button :hover {
   filter: brightness(0.2);
} */

.signin-button img {
    height: 25px;
    padding-left: 10px;
    justify-content: center;
    align-items:center;
}

@media screen and (max-width: 600px) {
    .signup {
        flex-direction: column;
        align-items: center;
    }

    .signup input {
        width: 2000;
        padding: 15px;
        flex: 1;
    }

    .signin-button {
        margin-top: 10px;
    }
}


/* -------------------------------------------------------------------------------- */



  .divider {
    flex:1;
    border-top: 7px solid #232323;
    margin-top: 200px;
    padding: 30px 20vw 50px;
    color: #BBBBBB;
  }

  .divider h2 {
    padding: 20px;
    font-size: 15px;
    padding-bottom: 0px;
  }

  .divider u {
    cursor: pointer;
  }

  .footer {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .col {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    gap: 5px;
    text-align: left;
}
.footer .col a {
    color: #BBBBBB;
    /* display: block; */
    margin-bottom: 5px;
}

.divider p {
    font-size: 15px;
    padding: 20px;
    padding-top: 5px;
}



