.lang {
    position: relative;
    
}

.lang img {
    position: absolute;
    height: 15px;
    top: 30%;
    left: 15px;
}

.language-btn {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid gray;
    cursor: auto;
    color:white;
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 4px;
    padding-left: 35px;
}

/* .language-btn img {
    width: 10px;
    border: none;
    margin-left: 10px;
} */