.header {
  /* box-sizing: border-box; */
  text-align: center;
  width: 100vw;
  height: 700px;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(../../../assets/images/bg-img.jpeg);
  background-size: cover;
  background-position: center;
  border-bottom: 7px solid #232323;
  display: flex;
  flex-direction: column;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  /* padding-right: 35px;
      padding-left: 15px; */
  padding: 0 18%;
}

.logo {
  height: 130px;
  cursor: pointer;
}

.buttons {
  display: inline-flex;
}

.buttons:focus-visible {
  outline: none;
}

/* outline: -webkit-focus-ring-color auto 1px; */
.signinButton {
  border: none;
  /* outline: 0; */
  background-color: #e50814;
  color: white;
  padding: 6px 15px;
  font-size: 15px;
  border-radius: 4px;
  margin-left: 25px;
  cursor: pointer;
  flex-shrink: 0;
  /* border-color: blue; */
}
.signinButton:hover {
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  background-color: rgb(193, 17, 25);
}

/* .language-btn {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    padding: 7px 15px;
    border: 1px solid gray;
    padding-left: 0px;
    padding-right: 10px;
    cursor: auto;
  } */

.language-btn img {
  width: 10px;
  border: none;
  margin-left: 10px;
}

.language-svg {
  width: 400px;
  margin-right: 20px;
}

.header-content {
  color: white;
  padding: 0px 20px;
  padding-top: 5%;
  text-align: center;
  font-family: NetflixFont;
}

/* @media screen and (min-width: 951px) { */
.header-content h1 {
  font-size: 50px;
  margin-bottom: 15px;
}
.header-content h3 {
  font-size: 25px;
  margin-top: 0px;
  font-family: sans-serif;
}
.header-content p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 1290px) {
  .navBar {
    padding: 0 2%;
  }
}

@media screen and (max-width: 950px) {
  .header {
    height: 530px;
  }
  .header-content h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .header-content h3 {
    font-size: 20px;
    margin-top: 0px;
    font-family: sans-serif;
  }
  .header-content p {
    font-size: 15px;
  }

  .logo {
    height: 90px;
  }
}

.signup {
  border-radius: 4px;
  /* display: inline-flex; */
  align-items: center;
  margin-top: 25px;
  justify-content: center;
  /* background-color: aliceblue; */
  display: flex;
  overflow: hidden;
  /* padding: 20px 15px; */
}
.signup:focus-visible {
  outline: none;
}

#inputID::placeholder {
  color: white;
  opacity: 0.7;
  font-size: 15px;
}

.signup input {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid gray;
  border-radius: 4px;
  padding: 18px 15px;
  width: 350px;
  color: white;
  font-size: 16px;
}
.signup input:focus-visible {
  outline: white solid 2px;
}

.signin-button {
  display: inline-flex;
  align-items: center;
  background-color: #e50814;
  border: none;
  border-radius: 4px;
  color: white;
  border: none;
  font-size: 20px;
  padding: 15px 30px;
  margin-left: 10px;
  flex-shrink: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.signin-button:hover {
  /* transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1); */
  background: rgb(193, 17, 25);
  transition: 0.1s ease-in-out;
}

.signin-button img {
  height: 25px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .signup {
    flex-direction: column;
    align-items: center;
  }

  .signup input {
    width: 2000;
    padding: 15px;
    flex: 1;
  }

  .signin-button {
    margin-top: 10px;
  }
}
