/* selectLang------------------------------------------------------------------------------------------------------- */
.lang {
    position: relative; 
}

.lang:focus-visible {
    outline: none;
}

.lang img {
    position: absolute;
    height: 15px;
    top: 30%;
    left: 15px;
}

.language-btn {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid gray;
    cursor: auto;
    color:white;
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 4px;
    padding-left: 35px;
}

.language-btn:focus-visible {
    outline: white solid 2px;
}

/* BootStrap------------------------------------------------------------------------------------------------------- */

.bootstrap {
    padding: 70px 20%;
}

@media (max-width: 1270px) {
    .bootstrap {
      box-sizing: border-box;
      padding: 70px 4%;
    }
  }

  /* ScrollToTop------------------------------------------------------------------------------------------------------- */

  .scroll {
    position: fixed;
    bottom: 40px;
    right: 30px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color:#e50814;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(193, 17, 25, 0.5);;
}

.scrollIcon {
    height: 25px;
    align-items: center;
}

.scroll:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background-color: rgb(193, 17, 25);
  }


  .accordion {
    background-color: #e50814;
  }

